/* Your custom styles */

.tags {
    color: white;
    margin-top: 20px;
    display: inline-block;
    border: none;
    margin-bottom: 4px;
    margin-right: 4px;
}

.topics-PER {
    text-decoration: none;
    border-radius: 6px;
    padding: 5px;
    background-color: #f50057;
}

.topics-WORK {
    border-radius: 6px;
    padding: 5px;
    background-color: #2d49e7;
}

.topics-LOC {
    border-radius: 6px;
    padding: 5px;
    background-color: #8bc34a
;
}

.logo-panel {
    color: black;
}
